#Nbar {
    background-color:#e0218a;
    border-radius:0;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
  }


.Navbar_text{
    font-size: 35px;
    color: #ffffff;
    font-family: "Bartex";
}


@font-face {
    font-family: "Bartex";
    src: url('../font/Bartex-Regular.ttf') format('truetype');
}
